body {
  font-family: 'Manrope', sans-serif;
}

.slider-item {
  padding: 0 10px;
  /* Adjust the padding as needed */
}

/* ANIMATIONS FOR IMAGES  */
 
 
@keyframes slideInLeft {
    from{
        transform: translateX(-400px);
    }
 
    to{
        transform: translateX(0);
    }
}
 
.slideInLeft{
    animation: slideInLeft 0.7s ease;
}
 
@keyframes slideInRight {
    from{
        transform: translateX(400px);
    }
 
    to{
        transform: translateX(0);
    }
}
 
.slideInRight{
    animation: slideInRight 0.7s ease;
}
 
@keyframes slideInTop {
    from{
        transform: translateY(-150px);
    }
 
    to{
        transform: translateY(0);
    }
}
 
.slideInTop{
    animation: slideInTop 0.7s ease;
}
 
@keyframes slideInBottom {
    from{
        transform: translateY(150px);
    }
 
    to{
        transform: translateY(100px);
    }
 
    to{
        transform: translateY(0);
    }
}
/*  */
/* .payroll-item {
  position: relative;
  overflow: hidden;
}

.payroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  color: white;
  background-color: cyan; 
  transition: height 0.8s ease;
}

.payroll-item:hover::before {
  height: 100%;
} */

/* .payroll-item {
  position: relative;
  overflow: hidden;
}

.payroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0); 
  z-index: 1;
  transition: all 0.3s ease;
}

.payroll-item:hover::before {
  background-color: cyan; 
}

.content {
  position: relative;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}
 */
/* .payroll-item {
  position: relative;
  overflow: hidden;
}

.payroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-image: linear-gradient(to bottom, cyan 0%, rgb(2, 101, 101) 100%);
  z-index: 1;
  transition: height 1.5s ease-in-out;
}

.payroll-item:hover::before {
  height: 100%;
}

.content {
  position: relative;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
} */
.payroll-item {
  position: relative;
  overflow: hidden;
}

.payroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-image: linear-gradient(to bottom, rgb(4, 193, 193) 0%, rgb(6, 154, 154) 100%);
  z-index: 1;
  transition: height .5s ease-in-out;
}

.payroll-item:hover::before {
  height: 100%;
}

.content {
  position: relative;
  z-index: 2;
  color: black;
  opacity: 1;
  visibility: visible;
  transition: color .5s ease-in-out;
  /* Transition for content color */
}

.payroll-item:hover .content {
  color: white;
  /* Content color after transition */
}

/*  */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */