body {
  font-family: 'Manrope', sans-serif;
}

.slider-item {
  padding: 0 10px;
  /* Adjust the padding as needed */
}

/* ANIMATIONS FOR IMAGES  */


@keyframes slideInLeft {
  from {
    transform: translateX(-400px);
  }

  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation: slideInLeft 0.7s ease;
}

@keyframes slideInRight {
  from {
    transform: translateX(400px);
  }

  to {
    transform: translateX(0);
  }
}

.slideInRight {
  animation: slideInRight 0.7s ease;
}

@keyframes slideInTop {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0);
  }
}

.slideInTop {
  animation: slideInTop 0.7s ease;
}

@keyframes slideInBottom {
  from {
    transform: translateY(150px);
  }

  to {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}

/*  */
/* .payroll-item {
  position: relative;
  overflow: hidden;
}

.payroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  color: white;
  background-color: cyan; 
  transition: height 0.8s ease;
}

.payroll-item:hover::before {
  height: 100%;
} */

/* .payroll-item {
  position: relative;
  overflow: hidden;
}

.payroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0); 
  z-index: 1;
  transition: all 0.3s ease;
}

.payroll-item:hover::before {
  background-color: cyan; 
}

.content {
  position: relative;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}
 */
/* .payroll-item {
  position: relative;
  overflow: hidden;
}

.payroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-image: linear-gradient(to bottom, cyan 0%, rgb(2, 101, 101) 100%);
  z-index: 1;
  transition: height 1.5s ease-in-out;
}

.payroll-item:hover::before {
  height: 100%;
}

.content {
  position: relative;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
} */
.payroll-item {
  position: relative;
  overflow: hidden;
}

.payroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-image: linear-gradient(to bottom, rgb(4, 193, 193) 0%, rgb(6, 154, 154) 100%);
  z-index: 1;
  transition: height .5s ease-in-out;
}

.payroll-item:hover::before {
  height: 100%;
}

.content {
  position: relative;
  z-index: 2;
  color: black;
  opacity: 1;
  visibility: visible;
  transition: color .5s ease-in-out;
  /* Transition for content color */
}

.payroll-item:hover .content {
  color: white;
  /* Content color after transition */
}

.benefits_css::hover {
  color: white !important;
}

/* SAHIL */
/* .welcome{
  background-image: url('./images/welcome_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover; 
} */

/* .payroll{
  background-image: url('./images/wave1.png');
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
} */


.features{
  background-image: url('./images/Features/feature_bg.png');
  /* background-position: center; */
  background-position-x: center;
  background-position-y: 5.2rem;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* .man_style{
  width: 80%;
} */
/* 
.mobile_css{
  background-image: url('./images/sortbox_bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  object-fit: cover;
} */



/* ANIMATIONS FOR IMAGES  */


@keyframes slideInLeft {
  from {
    transform: translateX(-400px);
  }

  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation: slideInLeft 0.7s ease;
}

@keyframes slideInRight {
  from {
    transform: translateX(400px);
  }

  to {
    transform: translateX(0);
  }
}

.slideInRight {
  animation: slideInRight 0.7s ease;
}

@keyframes slideInTop {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0);
  }
}

.slideInTop {
  animation: slideInTop 0.7s ease;
}

@keyframes slideInBottom {
  from {
    transform: translateY(150px);
  }

  to {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}

.slideInBottom {
  animation: slideInBottom 0.7s ease;
}

.fadeInTop {
  -webkit-animation: fadeInTop 1s both;
  -moz-animation: fadeInTop 1s both;
  -o-animation: fadeInTop 1s both;
  animation: fadeInTop 1s both;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.shutter {
  /* position: absolute;  */
  overflow: hidden;
  animation: shutter 2s linear forwards;
}

@keyframes shutter {
  0% {
    width: 0px;
    height: 0px;
  }

  30% {
    width: 50px;
    height: 0px;
  }

  60% {
    width: 50px;
    height: 80px;
  }
}


/* Benefits section  */

.benefits_head1::before {
  color: orange;
}

.benefits_head1::after {
  color: white;
}

.benefits_text::before {
  color: black;
}

.benefits_text::after {
  color: white;
}

/* .benefits_css:hover {
  color: white !important;
  transition-duration: 3s;
  transition-property: all;
  transition-timing-function: ease-in-out;
} */